header { 
   position: relative;
   z-index: 1;
   margin-top: 2.5rem;

}

.top-navigation {
    justify-content: space-between;
    align-items: center;

    .weather-span,
    .spa-span {
        font-size: 2rem;
        font-weight: 200;
        font-style: italic;
    }

    .spa-span {
        color: $blue-900;
    }

    &__list {
        margin-right: 10rem;
    }

    &__link {
        position: relative;
        z-index: 2;
        margin-right: 4.5rem;
    }

    &__link::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 25px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #93c0e0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 300ms ease-in-out ;
    }

    &__link:hover {

        &::after {
            transform: scaleX(1);
        }
    }

    &__btn {
        margin-right: 2rem;
    }

}