.root {

    @include for-tablet-landscape-up {
           padding: 0px 20px 0px 5%;
           max-width: 90%;
           height: 90%;
    }

    &.hiddenScroll {
         overflow-y: hidden;
    }


    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: -997;
    padding: 0px 20px 0px 10%;
    max-width: 85%;
    min-width: 85%;
    height: 85%;
    border-radius: 8px;
    background: rgb(28,0,106);
    background: linear-gradient(42deg, rgba(28,0,106,1) 39%, rgba(42,50,230,1) 100%);
    box-shadow: 2px 12px 10px 0px #6371be;
}

.root::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('images/wave2.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    opacity: 0.3;
    z-index: -998;
}
