.weather-page {

    
    &__body {
        justify-content: space-between;

        @include for-tablet-landscape-up {
            margin-top: 8rem;
        }

        @include for-tablet-portrait-up {
            flex-direction: column;
        }


    }

    &__image {
        max-width: 50%;
        margin: 50px 30px 0 0;

        @include for-tablet-portrait-up {
            margin: 20px auto;
        }

        @include for-phone-only {
           display: none;
        }

        img {
            border-radius: 10px;
            width: 100%;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        max-width: 40%;

        @include for-tablet-portrait-up {
            max-width: 90%;
            margin: 0 auto;
        }

        h2 {
            margin: 50px 0;
            letter-spacing: .8px;
            line-height: 5rem;

            @include for-tablet-portrait-up {
                margin: 0 0 3rem;
            }

            @include for-phone-only {
                margin: 5rem 0 6rem;

             }
        }

        p {
            margin: 15px 0;
        }

        .get-weather-button {
            color: white;
            border-radius: 10px;
        }

        .search-input {
            color: white;
            padding-left: 20px;
            margin-right: 2px;
            border: none;
            outline: none;
            border-radius: 10px;
            width: 70%;
            height: 50px;
            background: rgba(112, 69, 231, 0.5);
        }
    }

    &__data {
        max-width: 60%;
    }
}