*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/**
inittial font-size
*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #efeff6;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

button {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

a {
  font-size: 1.5rem;
  color: #efeff6;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  position: relative;
  z-index: -1000;
}

.page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #ced4fa;
  background: linear-gradient(42deg, #ced4fa 41%, #bdc6f7 67%);
  z-index: -999;
}

.root {
  position: relative;
  z-index: -997;
  padding: 0px 20px 0px 10%;
  max-width: 85%;
  min-width: 85%;
  height: 85%;
  border-radius: 8px;
  background: #1c006a;
  background: linear-gradient(42deg, #1c006a 39%, #2a32e6 100%);
  overflow: hidden;
  -webkit-box-shadow: 2px 12px 10px 0px #6371be;
          box-shadow: 2px 12px 10px 0px #6371be;
}

@media (max-width: 1199px) {
  .root {
    padding: 0px 20px 0px 5%;
    max-width: 90%;
    height: 90%;
  }
}

.root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("images/wave2.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  opacity: 0.3;
  z-index: -998;
}

header {
  position: relative;
  z-index: 1;
  margin: 2.5rem 0 2.5rem;
}

.top-navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-navigation .weather-span,
.top-navigation .spa-span {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
}

.top-navigation .spa-span {
  color: #00abed;
}

.top-navigation__list {
  margin-right: 10rem;
}

.top-navigation__link {
  position: relative;
  z-index: 2;
  margin-right: 4.5rem;
}

.top-navigation__link::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #93c0e0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.top-navigation__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.top-navigation__btn {
  margin-right: 2rem;
}

.footer {
  position: absolute;
  bottom: 20px;
  margin-top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  line-height: 25px;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.btn:hover {
  -webkit-box-shadow: 0px 3px 7px 0.1px black;
          box-shadow: 0px 3px 7px 0.1px black;
}

.btn--primary {
  background: linear-gradient(20deg, #00abed 22%, #0086e0 53%);
}

.btn--secondary {
  color: #00abed;
  background: linear-gradient(20deg, white 0%, #cce1eb 74%);
  font-weight: 600;
}

.btn--back {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  padding: 15px 40px;
  color: white;
}

.home-page__heading {
  margin: 0 0 3rem;
}

.home-page__description p {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.home-page__description a {
  font-size: 2rem;
  color: #00abed;
}

.home-page__main {
  margin-bottom: 20px;
}

.home-page__main .picture-wrapper {
  width: 300px;
}

.home-page__main .picture-wrapper img {
  width: 100%;
}

.about-page {
  max-width: 100%;
}

.about-page__header h1 {
  font-weight: 500;
}

@media (max-width: 899px) {
  .about-page__header h1 {
    text-align: center;
    margin: 30px 0 0;
  }
}

.about-page__main {
  max-width: 90%;
  margin-top: 5rem;
}

@media (max-width: 899px) {
  .about-page__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem auto 0;
  }
}

.about-page__main p {
  font-size: 2rem;
  margin-top: 2rem;
}

@media (max-width: 899px) {
  .about-page__main p {
    text-align: center;
    margin: 2rem auto 0;
  }
}

.about-page__description {
  max-width: 50%;
}

@media (max-width: 899px) {
  .about-page__description {
    max-width: 90%;
    margin: 0 auto 5rem;
  }
}

@media (max-width: 599px) {
  .about-page__description {
    margin: 7rem auto 0;
  }
}

.about-page__image-wrapper {
  margin: 0 2rem;
  max-width: 50%;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 899px) {
  .about-page__image-wrapper {
    max-width: 55%;
    margin: 0 auto 50px;
  }
}

@media (max-width: 599px) {
  .about-page__image-wrapper {
    display: none;
  }
}

.about-page__image-wrapper img {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  z-index: 1;
  margin: 30px 0;
}

.login-page {
  margin-left: 10rem;
  max-width: 70%;
}

@media (max-width: 899px) {
  .login-page {
    margin: 0 auto;
  }
}

.login-page__header h1 {
  text-align: center;
  margin: 5rem 0;
}

.register-page {
  margin-left: 10rem;
  max-width: 70%;
}

@media (max-width: 899px) {
  .register-page {
    margin: 0 auto;
  }
}

.register-page__header h1 {
  text-align: center;
  margin: 2rem auto 5rem;
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.submit-form h5 {
  text-align: center;
  margin: 0 0 1rem;
  font-weight: 300;
}

.submit-form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px 5px 10px;
  margin-bottom: 4rem;
  outline: none;
  background-color: #efeff6;
  border: 1px solid #efeff6;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.submit-form input:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.submit-form button {
  color: white;
  margin: 0 auto;
  border-radius: 20px;
  width: 170px;
  padding: 10px 20px;
}

@media (max-width: 599px) {
  .submit-form button {
    width: 110px;
  }
}

.curr-weather {
  position: relative;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #28089B;
  border-radius: 5px;
  margin-top: 3rem;
  z-index: -996;
}

.curr-weather__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  padding: 2rem 0 2rem 3rem;
  background-color: #400bc7;
}

.curr-weather__header h4 {
  margin: 0 0 10px;
  font-weight: 400;
  font-style: italic;
}

.curr-weather .temp-description-wrapper {
  margin-right: 10px;
  font-size: 1.8rem;
  text-align: right;
}

.curr-weather__location-description {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.curr-weather__time-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.9rem;
  text-align: right;
  margin-right: 3rem;
}

.curr-weather__body {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.curr-weather__main-temp-description {
  position: relative;
  width: 30%;
}

.curr-weather__main-temp-description .temp-image-wrapper img {
  margin: 0 auto;
  width: 70%;
}

.curr-weather__main-temp-description .weather-description {
  margin: 5px;
  font-size: 1.7rem;
}

.curr-weather__main-temp-description::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #400bc7;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -995;
}

.curr-weather__extra-description {
  width: 70%;
  position: relative;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.curr-weather__extra-description > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.curr-weather__extra-description::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #400bc7;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -995;
}

.curr-weather__extra-description .weather-details-picture {
  border-radius: 10%;
  width: 60%;
  height: 50%;
  margin-bottom: 20px;
}

.notification-container {
  color: white;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.5px;
  position: absolute;
  z-index: 999;
  padding: 1.6rem 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 15px;
  width: 35%;
  border-radius: 20px;
  -webkit-box-shadow: 2px 6px 10px 0px #6371be;
          box-shadow: 2px 6px 10px 0px #6371be;
  display: none;
}

@media (max-width: 1199px) {
  .notification-container {
    line-height: 25px;
    top: 5px;
    width: 40%;
  }
}

@media (max-width: 599px) {
  .notification-container {
    line-height: 25px;
    top: 5px;
    width: 60%;
  }
}

.error {
  background-color: red;
}

.success {
  background: linear-gradient(20deg, #00abed 22%, #0086e0 53%);
}

.weather-page {
  position: relative;
}

.weather-page__body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather-page__image {
  max-width: 50%;
  margin: 50px 30px 0 0;
}

.weather-page__image img {
  border-radius: 10px;
  width: 100%;
}

.weather-page__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  max-width: 40%;
}

.weather-page__description h2 {
  margin: 50px 0 5px;
  letter-spacing: .8px;
}

.weather-page__description p {
  margin: 15px 0;
}

.weather-page__description .report-heading {
  margin: 0 0 20%;
}

.weather-page__description .get-weather-button {
  color: white;
  border-radius: 10px;
}

.weather-page__description .search-input {
  color: white;
  padding-left: 20px;
  margin-right: 2px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 70%;
  height: 50px;
  background: rgba(112, 69, 231, 0.5);
}

.weather-page__data {
  max-width: 60%;
}

.page-404__heading {
  font-style: italic;
  font-size: 4.5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.forecast-page__header {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forecast-page__header h1 {
  margin: 10px 10px 30px 50px;
}

.forecast-page__body {
  margin: 30px 0;
}

.forecast-page__body .curr-weather {
  margin: 0 auto;
}

.text-centered {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */